.history {
  text-align: center;
  padding: 65px 0 70px;
  color: var(--color-main-black);
}

.history-title {
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0;
  margin: 0 0 60px;
}

.history-photo {
  width: 100%;
  max-width: 955px;
  height: 655px;
  object-fit: cover;
}

.history-description {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0;
  margin: 30px 0 0 0;
}

@media (max-width: 480px) {
  .history-photo {
    height: 480px;
  }

  .history-description {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0;
  }

  .history-section {
    padding: 50px 0 70px;
  }
}
